{{>head}}
{{> navbar}}
    
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Arrow</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum sunt necessitatibus impedit cumque! Enim, error. Ab provident quasi veritatis facere, iure iste sint iusto, eaque nostrum voluptas optio maiores et!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/arrow.png" alt="Arrow" class="img-thumbnail">
        </div>
    </div>    
</div>

{{>footer}}